<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="conteiner">
    <div class="row">
        <div class="col col-12 col-md-6">
            <img src="<%= doctor.image%>"

        </div>
    </div>
</div>


<%- include('parts/footer') %>