<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="container">
    <h1>Thank you for trusting US</h1>
    <h3>We build this for you and your precius Family</h3>
    <P> Personal health app aiming your fit and healt for better life living</P>
    <p>so we are offering this free app to help you taking care of you and uour family</p>
    <br><BR><BR>
        <h2>Use this app Wiesly </h2>

</div>

<%- include('parts/footer') %>